*{
    margin: 0px;
    padding: 0px; 
   }

.html{
    background-color: rgba(123, 161, 219, 0.863);
    color: rgb(123, 161, 219, 0.863);
    font-size: 14pt;
}

.header{
    width: 100%;
    height: 300px;
    background-color: rgba(248, 22, 6, 0.61);
    background-image: url(../img/BannerN.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Netflix{
    background: radial-gradient(circle, rgba(0,0,0,1) 44%, rgba(80,18,18,1) 100%);
    color:rgb(209, 25, 25);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.footer{
    width: 100%;
    height: 100%;
    background-color:rgb(155, 13, 13);
    color: rgb(0, 0, 0);
    text-align: center;
}

.flecha{
    color:white;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 15, 15);
    text-align: center;
    line-height: 60px;
    border-radius: 100%;
    z-index: 10;
    position: fixed;
    right: 10px;
    bottom: 60px;
    text-decoration:none;

}